
.head{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-color: darkgray;
}

.body{
    align-tracks:center;
    background-color: lightgray;
    color: rgb(141, 43, 43);
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.same-line{
    text-align: justify;
}

.question{
    margin-right: 25%;
    margin-left: 10%;
}

input{
    margin-left: 50px;
}

.left{
    
    width:35% ;
    
    margin-left: 10%;
    float: 0 auto;
    
}
.right{
    width: 35%;
    
    margin-right: 20%;
    float:right ;
    
}
label{
    display: inline-block;
}


h6{
    color:grey;
    text-align: left;
}

.textarea{
    block-size: 100px;
    width: 100%;
}

.submit{
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    block-size: 35px;
    margin: 20px;
}
